# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

data/train_images/
data/test.csv
data/train.csv
data/example_sample_submission.csv
data/example_test.npy
data/greatbarrierreef

/data

# models
*.pt
# images
*.jpg
*.png